<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="friend">
            <h2><span jhiTranslate="faeBooApp.friend.detail.title">Friend</span> {{friend.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="faeBooApp.friend.topFriend">Top Friend</span></dt>
                <dd>
                    <span>{{friend.topFriend}}</span>
                </dd>
                <dt><span jhiTranslate="faeBooApp.friend.user">User</span></dt>
                <dd>
                    {{friend.user?.email}}
                </dd>
                <dt><span jhiTranslate="faeBooApp.friend.friend">Friend</span></dt>
                <dd>
                    {{friend.friend?.email}}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/friend', friend.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
